body{
	background: white;
  font-family: 'Roboto', Arial, sans-serif;
}


header{
	height: 445px; 
  	width: 100%;
  	background: linear-gradient(45deg, #9326f1, #ff6b83);
	text-align: center;
  	top: 0;
  	position: relative;
}

li {
	display: inline;
	padding: 15px;
}
nav{
	width: 100%;
	height: 24px;
	color: #66269C;
  	margin: 0px;
}

  
h1{
	font-size: 116px;
	color: white;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
  }
.heading-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
span.strategy {
	font-size: 21px;
	color: white;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	margin-top: -30px;
}


.company-image {
	padding: 20px;
	box-sizing: border-box;
}

.company-image img{
	max-width: 100%;
}

.projects-image{
	padding: 20px;
	box-sizing: border-box;
}

.projects-image img{
	max-width: 100%;
}

h3 {

	font-size: 27px;
	color: #66269C;
	letter-spacing: 2px;
}

.projects::before, .company::before, .experience-content::before{
	background: transparent;
	position: absolute;
	width: 100px;
	height: 100px;
  	left: -50px;
  	top: -10px;
  	font-size: 200px;
  	text-align: center;
  	z-index: -1;
}

.projects::before {
	content: "1.";
	color: #CF64CC;

}

.company::before{
	content: "2.";
	color: #CF64CC;

}

.experience-content::before{
	content: "3.";
	color: #CF64CC;
  	}

p{
	font-size: 12px;
	color: #66269C;
}

.button{
	font-size: 15px;
	color: #66269C;
	background-color: white;
	border-color: #CF64CC;
	border-width: 2px;
	border-style: solid;
	padding: 6px 16px; 
}

.button{
	display: inline-block;
	margin: 10px 0px;

}

.full_banner {
	height: 300px;
	width: 100%;
	background-color: #eee;
	background-image:  url('../img/fullbg.jpg');
	background-size: 100%;
	background-attachment: fixed;
	line-height: 300px;
	vertical-align: middle;

}

.experience-content{
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

.yellow_boy-image {
	padding: 20px;
	box-sizing: border-box;
}

.yellow_boy-image img {
max-width: 100%;
}

section.say_hello {
    background: linear-gradient(45deg, #9326f1, #ff6b83);
    max-width: 100%;
}



h2{
	font-size: 73px;
	color: white;
	text-align: center;
}


h4{
	font-size: 63px;
	color: #66269C;
	text-align: left;
}

.form{
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

label{
	font-size: 12px;
	color: #66269C;
	text-align: left;

}

input{
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #66269C;


}

textarea{
	background-color: transparent;
	border-color: #66269C;
}

.button-send{
	font-size: 15px;
	color: white;
	background-color: transparent;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	padding: 6px 16px; 
	display: inline-block;
	margin: 10px 0px;
}




